*{
    margin: 0;
    background-color: black;
    
}
h1{
    text-align: center;
    color: white;
    font-family: 'Black Ops One', cursive;
}

.card{
    /* width: 300px; */
    /* margin-left: 20%; */
    
    
}

